torch==1.13.1+cu116
torchvision==0.14.1+cu116
fastai==2.7.10
fastcore==1.5.27
kornia==0.5.8
fastxtend==0.0.14
polars==0.18.12
pandas==2.0.3
pyarrow==13.0.0
torchscale==0.2.0
torchinfo==1.8.0
tqdm==4.64.0